.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__item {
        margin-bottom: 4rem;
        width: 45%;
    }
    &__title {
        margin-bottom: 3rem;
        border-bottom: 1px solid #ccc;
    }
    table {
        border-collapse: collapse;
    }
    th, td {
        padding: 1rem;
        border: 1px solid #ccc;
    }
    th {
        color: white;
        background-color: #444;
    }
}
